.container-result {
    display: block;
    background: #eff7fcf2;
    padding: 13px;
    border-radius: 15px;
    margin: 0 auto 0 5px;
    width: 45%;
}

div.container-result h2 {
    text-align: center;
    margin: auto;
}

div.container-result table {
    padding: 10px;
    width: 100%;
}

div.container-result form {
    margin: 0;
}

td.btn {
    width: 504px;
}